.App {
  text-align: center;
}

.nav {
  background-color: #282c34;
  padding: 10px;
}

.formContainer {
  width: 100%;
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.todo-table th,
.todo-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  background-color: #e53935;
  color: white;
}
.form-container {
  margin-top: 20px;
  text-align: left;
}

.formContainer label {
  font-weight: 600;
  margin-bottom: -8px;
  color: #333;
}

button[type="submit"] {
  padding: 12px;
  border-radius: 8px;
  background: #4c7eff;
  color: white;
  font-weight: 600;
  font-size: 16px;
}